* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: linear-gradient(rgb(138, 196, 219) rgb(50, 153, 236));
  background-color: #9c89b8;
  margin: 90px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Verdana, Tahoma, sans-serif;
}

.mainContainer {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: rgb(241, 236, 236);
  max-height: 100vh;
  width: 600px;
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
}


.mainContainer .taskItemContainer {
    margin-bottom: 10px;
    width: 90%; 
    margin-left: 30px;
  }
  
  .taskItem {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    background-color: white;
    color: rgb(90, 28, 28);
    border: none;
    cursor: pointer;
    border-radius: 5px;
     margin-bottom: 10px;
  }
  
  .taskItem span {
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: 5px;
    flex: 1;
  }
  

.taskItemContainer input[type="text"] {
  flex: 1;
  margin-right: 10px;
}



#addTask {
  background-color:#231651;
  color: rgb(248, 241, 241);
  text-align: center;
  padding-top: 5px;
  font-weight: 4 00;
  font-size: 15;
  cursor: pointer;
}

.mainContainer header {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 6px;
  text-align: center;
  justify-content: center;
}

.mainContainer .add {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.mainContainer .add #taskInput {
  width: 70%;
  height: 60%;
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
}

::placeholder {
  color: #848aaa;
}

.mainContainer .add #addTask {
  width: 20%;
  height: 39px;
  border: none;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 0 10px 10px 0;
}

.mainContainer .list {
  display: flex;
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 1;
  width: 100%;
  padding-top: 2px;
  gap: 3rem;
}


#clearBtn {
  border-radius: 12px;
}

.mainContainer .clear {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1em;
  color: rgb(10, 10, 10);
}

.mainContainer .clear button {
  display: inline-block;
  color: rgb(248, 241, 241);
  background-color: red;
  border: none;
  max-width: 100%;
  padding: 10px 27px;
}

.clear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  color: white;
  background-color: #ca0505;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3 ease;
}
.taskItem span {
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.list .taskItemContainer:hover .deleteButton {
  display: inline-block;
}

@media (max-width: 768px) {
  .mainContainer {
    width: 90%;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  .mainContainer .add #taskInput{
    width: 70%;
  }

  .mainContainer .add #addTask { 
    width: 30%;

  }
  

  .mainContainer .taskItemContainer {
    margin-bottom: 10px;
    width: 100%; 
    margin-left: 5px;
    
  }
  
  .taskItem {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    background-color: white;
    color: rgb(90, 28, 28);
    border: none;
    cursor: pointer;
    border-radius: 5px;
     margin-bottom: 10px;
  }
  
  .taskItem span {
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: 5px;
    flex: 1;
  }
  




}
